body {
  padding: 0;
  background-color: #0c1621;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 10%);
}

canvas.half {
  width: 50vw;
  left: 0;
  top: 0;
  transform: none;

  & + .half {
    left: 50%;
  }
}

img {
  max-width: 100%;
}

.cargo-logo-bla {
  position: absolute;
  left: -9999em;
}

.buttons {
  position: absolute;
  left: 10%;
  top: 20%;
}

.btn {
  background-color: white;
  color: black;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.dg {
  display: none;
}

