body {
  background-color: white;
  margin: 0;
  padding: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

canvas.half {
  width: 50vw;
  left: 0;
  top: 0;
  transform: none;

  & + .half {
    left: 50%;
  }
}

