body {
  padding: 0;
  background-color: #0c1621;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 10%);
}

canvas.half {
  width: 50vw;
  left: 0;
  top: 0;
  transform: none;

  & + .half {
    left: 50%;
  }
}

img {
  max-width: 100%;
}

.cargo-logo-bla {
  position: absolute;
  left: -9999em;
}
